language: android

jdk:
  - oraclejdk8

android:
  components:
    - tools
    - platform-tools
    - android-26
    - build-tools-26.0.2

# as per http://blog.travis-ci.com/2014-12-17-faster-builds-with-container-based-infrastructure/
sudo: false

# script for build and release via Travis to Bintray
script: ./travis_build.sh

notifications:
  email: false

# cache between builds
cache:
  directories:
  - $HOME/.m2
  - $HOME/.gradle
